@font-face {
  font-family: "Poppins Light";
  src: url("../fonts/Poppins-Light.ttf");
}
@font-face {
  font-family: "Poppins Medium";
  src: url("../fonts/Poppins-Medium.ttf");
}
@media only screen and (max-width: 1100px) {
  body header {
    background-color: orange !important;
  }
  body #contact-main {
    margin-bottom: 6em;
  }
  body #contact-main .contact-main-row {
    height: 10em;
  }
  body #contact-main img {
    display: none;
  }
  body #contact-main .contact-text-box h3 {
    margin: 0;
  }
  body #contact-main .contact-text-box p {
    margin-top: 0.5em;
  }
  body #block-container {
    flex-direction: column;
  }
  body #block-container .block {
    width: auto !important;
  }
}
@media only screen and (max-width: 750px) {
  body header {
    background-color: green !important;
  }
  body header nav #hamburger-button {
    display: block !important;
  }
  body header nav ul {
    display: none;
  }
  body header nav #navIcons {
    display: none;
  }
  body .contact-main-row {
    margin-left: auto !important;
    margin-right: auto !important;
  }
  body #block-container {
    margin-left: auto !important;
    margin-right: auto !important;
  }
  body #block-container .block {
    width: auto !important;
  }
}
body {
  font-family: "Poppins Light";
  font-weight: 300;
  margin: 1em;
}
@font-face {
  body {
    font-family: "Poppins Light";
    src: url("../fonts/Poppins-Light.ttf");
  }
}
@font-face {
  body {
    font-family: "Poppins Medium";
    src: url("../fonts/Poppins-Medium.ttf");
  }
}
body header {
  height: auto;
  padding: 1.5em;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  background-color: #BFBFBF;
}
body header nav {
  height: 3em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body header nav #linksInteractive {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
body header nav #linksInteractive ul li {
  display: inline-block;
  list-style: none;
  margin: 5px;
}
body header nav #linksInteractive ul li a {
  text-decoration: none;
  color: black;
}
body header nav #linksInteractive ul li a:hover {
  font-weight: bold;
}
body header nav #linksInteractive ul #nav-marker {
  text-decoration: underline;
  font-weight: bold;
}
body header nav #linksInteractive #navIcons {
  margin-left: 12.5px;
}
body header nav #linksInteractive #navIcons img {
  margin-left: 7.5px;
  margin-right: 7.5px;
}
body header nav #hamburger-button {
  display: none;
}
body #contact-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body #contact-main .contact-main-row {
  margin: 3em;
  display: flex;
}
body #contact-main .contact-main-row img {
  max-width: 40em;
}
body #contact-main .contact-main-row .contact-text-box {
  display: flex;
  flex-direction: column;
  max-width: 35em;
  margin: 2em;
}
body #contact-main .contact-main-row .contact-text-box h3 {
  font-size: 37px;
  margin-bottom: -0.2em;
}
body #contact-main .contact-main-row .contact-text-box p {
  font-size: 24px;
}
body #block-container {
  display: flex;
  justify-content: center;
  margin-left: 11em;
  margin-right: 11em;
}
body #block-container .block {
  min-width: 33%;
  padding: 2em;
  margin: 0.5em;
  background-color: #BFBFBF;
}
body #block-container .block img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
body #block-container .block p {
  margin: 0.2em;
}
body footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 70px;
}
body footer #footerIcons img {
  margin-left: 0.5em;
  margin-right: 0.5em;
}
body footer p {
  margin: 0;
}

/*# sourceMappingURL=contactStyle.css.map */
