@import "fontStyle";
@import "contactResponsive";

body {
  font-family: "Poppins Light";
  font-weight: 300;
  margin: 1em;

@import "basicHeaderStyle";

  #contact-main {
    display: flex;
    flex-direction: column;
    align-items: center;

    .contact-main-row {
      margin: 3em;
      display: flex;

      img {
        max-width: 40em;
      }

      .contact-text-box {
        display: flex;
        flex-direction: column;
        max-width: 35em;
        margin: 2em;

        h3 {
          font-size: $font-size-header;
        }

        p {
          font-size: $font-size-standard;
        }
      }
    }
  }

  #block-container {
    display: flex;
    justify-content: center;
    margin-left: 11em;
    margin-right: 11em;

    .block {
      min-width: 33%;
      padding: 2em;
      margin: 0.5em;
      background-color: #BFBFBF;

      img {
        display: block;
        margin-left: auto;
        margin-right: auto;
      }

      p {
        margin: 0.2em;
      }
    }
  }

  @import "footerStyle";
}